{% extends "base.html" %}

{% load static %}

{% block title %}Вход в систему{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style/account/login.css' %}">
    <link rel="stylesheet" href="{% static 'style/base/form.css' %}">
{% endblock %}

{% block content %}
{% if form.errors %}
    {% include "blocks/popup.html" with msg=message type="error" %}
{% endif %}
<section class="login">
    <h2>Войдите в систему</h2>

    <form method="post"  autocomplete="off">
        {% csrf_token %}
        {% for error in form.username.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <div class="input_block">
            <input 
            type="text" 
            class="{% if form.username.errors %}incorrect{% endif %}" 
            id="{{ form.username.id_for_label }}"
            name="{{ form.username.html_name }}"
            value="{{ form.username.value|default:'' }}"
            autocomplete="username"
            >
            <label for="username">Имя пользователя</label>
        </div>
        {% for error in form.password.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <div class="input_block">
            <input 
            type="password" 
            class="{% if form.password.errors %}incorrect{% endif %}" 
            id="{{ form.password.id_for_label }}"
            name="{{ form.password.html_name }}"
            autocomplete="current-password"
            >
            <label for="password">Пароль</label>
        </div>
        <button type="submit">Войти</button>
        <div class="help">
            <p>Нет аккаунта?</p>
            <a href="/register">Зарегистрируйтесь</a>
        </div>
    </form>
</section>
<script src="{% static 'js/hastext.js' %}"></script>
{% endblock %}