/* Обнуление стилей */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

a{
    text-decoration: none;
}

:root{
    /* Основные цвета */
    --main-blue: #603EF9;
    --main-blue-opacity: #603ef9b6;
    --dark-grey: #CCCCCC;
    --light-grey: #E9E9E9;

    /* Процессы и статусы */
    --green: #00FF26;
    --red: #FF0000;
    --yellow: #EEFF00;
}

.link_active{
    background-color: var(--main-blue);
    color: white;
    font-weight: 700;
}
.link{
    border: 2px solid #CCC;
    font-weight: 700;
    color: black;
}

/* Стили для header */
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    div{
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        a{
            height: 50px;
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 35px;
            border-radius: 10px;
            gap: 10px;
        }
    }
}

/* Стили для toogle */
.toggle{
    transform: translateY(-6px);
    span{
        width: 68px;
        height: 34px;
        background-color: var(--light-grey);
        border-radius: 34px;
        position: absolute;
        &::before{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            left: 4px;
            top: 4px;
            content: "";
            transition: .6s;
        }
    }
    &:hover{
        cursor: pointer;
    }
    input{
        width: 0;
        height: 0;
        &:checked + span{
            background-color: var(--main-blue);
        }
        &:checked + span::before{
            transform: translateX(34px);
        }
    }
}

/* Строка пути */
.path{
    width: 80%;
    margin: 20px auto;
    display: flex;
    gap: 5px;
    .path_elem,
    .separator{
        font-size: 20px;
        font-weight: 600;
    }
    a{
        color: var(--main-blue);
        transition: .4s;
        &:hover{
            text-decoration: underline;
            transition: .4s;
        }
    }
    .current{
        color: black;
    }
}

/* Общие стили для табов */
.tabs_links{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    a{
        padding: 0 30px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        font-size: 18px;
        font-weight: 500;
        transition: .4s;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        &:hover{
            transition: .4s;
            background-color: #ccc;
        }
        &:not(.active){
            border-bottom: 2px solid var(--dark-grey);
        }
    }
    .active{
        border-top: 2px solid var(--dark-grey);
        border-left: 2px solid var(--dark-grey);
        border-right: 2px solid var(--dark-grey);
    }
}

.tabs{
    width: 80%;
    margin: 0px auto;
    div{
        display: none;
    }
    .active_tab{
        display: flex;
    }
}